/* css of profile top bar and links are similar to profile page so for edit for ptofiletop bar go in profile css */

/* change password input fields */
.changeUserDataPassword {
    margin-left: 4%;
}

.changeUserDataPasswordField label {
    color: gray;
    font-size: 14px;
    margin-top: 10px;
}

.changeUserDataPasswordField input {
    width: 90%;
    height: 42px;
    padding: 5px 10px;
    outline-color: red;
    border-radius: 4px;
    border: none;
    border: 1px solid gray;
}

.changePasswordButton button {
    margin: 10px 10px 20px 10px;
    padding: 3px 20px;
    outline: none;
    border: none;
    font-weight: 500;
    color: white;
    background-color: red;
    border-radius: 9px;
    font-size: 14px;
}

.changePasswordButton button:hover {
    background-color: rgb(250, 105, 105);
}