.coreWiget {
    box-shadow: -4px 5px 39px -12px rgba(153, 153, 153, 0.66);
    height: 25vh;
    width: 90%;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.coreWiget h3 {
    font-size: 19px;
    font-weight: 500;
    margin: 30px 10px 14px 20px;
    letter-spacing: 1px;
    color: gray;
}

.coreWigetItem {
    margin: 10px 0px 0px 40px;
    cursor: pointer;
}

.coreWigetItem a {
    text-decoration: none;
    color: gray;
    font-weight: 500;
}

.coreWigetItem a:hover {
    color: red;
}

.coreWigetItem .active {
    color: red;
}